<%# <p id="notice"> %>
<%#= notice %>
<%# </p> %>


<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Listings
      </h1>
    </div>
  </div>
</section>



<section class="section">
  <div class="container">
    <div class="columns is-multiline is-mobile">
      <% @listings.each do |listing| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <% if listing.list_images.attached? %>
                  <%= link_to (image_tag listing.list_images[0]), listing %>
                <% else %>
                  <%= link_to (image_tag "no-image.png"), listing %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <%= number_to_currency(listing.price) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

