<div class="field">
  <%= form.file_field :profile_image, accept: "image/png,image/jpg,image/jpeg" %>
</div>

<div class="field">
  <%= form.label :username %>
  <%= form.text_field :username %>
</div>

