<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style= "font-family: Arial Black;">
        Your order has been processed!
      </h1>
      <p class="subtitle">
        Thank you <%= current_user.username %>
      </p>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="field">
      <p class="control">
        <%= link_to 'Item Page', listing_path(@listing), class: "button is-inf"  %>
      </p>
    </div>
  </div>
</section>