<section class="main-image">
  <div class="content">
      <div class="columns">
        <div class="column is-half">
         <p></p>
        </div>
        <div class= "culumn is-half">  
          
          <div class="content has-text-centered"><br><br><br><br>
            <strong class="is-size-1 has-text-grey-dark " style="font-family: cursive;">📘ManaBook</strong><br><br>
          </div>
          <div>
            <p class = "is-size-4 has-text-right" style="font-family: Georgia;">Sell your unused textbooks.</p><br>
            <p class = "is-size-4 has-text-centered" style="font-family: Georgia;">Find the textbooks you need. </p><br>
            <p class = "title is-4 has-text-centered" style="font-family: Georgia;">Let's start!!</p>
            <p class= "has-text-right title is-5"><%= link_to "Sign Up", new_user_registration_path %><br><br><i class="fas fa-mouse-pointer"></i></p>
                        
          </div>
        </div>  
      </div>
  </div>
</section>