/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";

main {
   background: linear-gradient(rgb(141, 164, 217), white);
}
.notification:not(:last-child){
    margin-bottom: 0;
}

.profile_image {
   border-radius: 50%;
}
  
.main-image {
   width: 100%;
   min-height: 100vh;
     background: url(image-top.jpg);
     background-size: contain;
     background-repeat: no-repeat;
     background-position : center top;
}

a:hover {
   background-color: lightgrey !important;
 }


.seller{
   background: linear-gradient(rgb(253, 253, 112), white);
}

.buyer {
   background: linear-gradient(rgb(112, 190, 253), white);
}

.environment {
   background: linear-gradient(rgb(75, 220, 135), white);
}

.title {
   margin-bottom: 30px;
   font-family: serif;
}
